.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  width: 150px;
  aspect-ratio: 2 / 3;
  gap: 4px;
  box-sizing: border-box;
  padding: 12px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card.hearts, 
.card.diamonds {
  border-color: black;
}

.card.hearts .suit,
.card.diamonds .suit {
  color: red;
}

.card.spades .suit,
.card.clubs .suit {
  color: black;
}

.card .rank {
  color: black;
}

.card .rank {
  grid-column: 1;
  grid-row: 1;
  font-size: 50px;
  justify-self: start;
  font-weight: bold;

}

.card .suit {
  grid-column: 1 / -1;
  grid-row: 2;
  font-size: 90px;
  place-self: center;

}


.card.card--back {
    border: 3px solid white;
    background-color: darkred;

    background-image: 
    repeating-linear-gradient(
        45deg,
        transparent 0px,
        transparent 15px,
        white 15px,
        white 17px
    ),
    repeating-linear-gradient(
        -45deg,
        transparent 0px,
        transparent 15px,
        white 15px,
        white 17px
    );

    background-position: center;
}

