:root {
  --text: white;
  --text-h: white;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
 margin-top: 20px;
 color: white;
 background-color: #0b6623;
 background-image: url("/public/felt.svg");
 background-size: 240px 240px;
 background-position: center;
}

h1 {
  font-family: "Luxurious Script", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  color: yellow;
  line-height: 118%;
  background-color: #28783d;
  padding: 4px 100px;
  width: fit-content;
  border-radius: 100px;
  margin: 24px auto;
  /* border: 2px white solid; */
  /* outline: 2px solid yellow; */
  outline-offset: 6px;
}

